<div class="map-wrapper">
  <div class="first">
    <ng-content select="#first"></ng-content>
  </div>
  <div class="second" [style.clip-path]="clipPath()">
    <ng-content select="#second"></ng-content>
  </div>
  <div class="slider" (mousedown)="startDrag($event)" (touchstart)="startDrag($event)" [style.left]="sliderLeft()"
       [style.top]="sliderTop()" [style.cursor]="orientation() === 'vertical' ? 'ew-resize' : 'ns-resize'"
       [style.width]="orientation() === 'vertical' ? '6px' : '100%'"
       [style.height]="orientation() === 'vertical' ? '100%' : '6px'">
    <!-- Slider element -->
    <div class="slider-button" [style.cursor]="orientation() === 'vertical' ? 'ew-resize' : 'ns-resize'"
         [style.left]="orientation() === 'vertical' ? '-15px' : '50%'"></div>
  </div>
</div>
