#map {
  width: 100%;
  height: 100%;
}

.controls {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

:host ::ng-deep #map .ol-zoom button {
  width: 32px;
  height: 32px;
  font-size: large;
}

:host ::ng-deep #map .ol-zoom button:hover {
  cursor: pointer;
}
