#map {
  width: 100%;
  height: 100%;
}

#keymap {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}

:host ::ng-deep #map .ol-zoom button {
  width: 32px;
  height: 32px;
  font-size: large;
}

:host ::ng-deep #map .ol-zoom button:hover {
  cursor: pointer;
}
