<ng-container *ngIf="({ isMobile: isMobile$ | async}) as context">
  <div class="card" *ngIf="!context.isMobile">
    <ng-container *ngTemplateOutlet="settings"></ng-container>
  </div>

  <ng-container *ngIf="context.isMobile">
    <button nz-button style="height: 48px; width: 48px; font-size: medium" (click)="modalVisible = true">
      <span nz-icon nzType="setting" nzTheme="outline"></span>
    </button>
    <nz-modal [(nzVisible)]="modalVisible" nzClosable (nzOnCancel)="modalVisible = false" [nzFooter]="null" nzCentered
              nzTitle="Einstellungen">
      <div *nzModalContent>
        <ng-container *ngTemplateOutlet="settings"></ng-container>
      </div>
    </nz-modal>
  </ng-container>

  <ng-template #settings>
    <p nz-row *ngIf="!context.isMobile">
      <nz-col nzSpan="6">
        <span nz-typography class="key"><kbd>Strg</kbd></span>
      </nz-col>
      <nz-col nzSpan="12">
        Slider bewegen
      </nz-col>
    </p>
    <p nz-row>
      <nz-col nzSpan="6" *ngIf="!context.isMobile">
        <span nz-typography class="key"><kbd>Leer</kbd></span>
      </nz-col>
      <nz-col [nzSpan]="context.isMobile ? 24 : 18" class="setting-with-button">
        Straßen anzeigen
        <nz-switch [ngModel]="mapService.labelsVisible" (ngModelChange)="mapService.toggleLabels()"></nz-switch>
      </nz-col>
    </p>

  </ng-template>
</ng-container>

