.card {
  background: rgba(255, 255, 255, 1);
  width: 250px;
  padding: 20px 10px 10px;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 0 rgba(0,0,0,.015);
}

.key {
  width: 55px;
  display: inline-block;
}

.setting-with-button {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
