.card {
  background: rgba(255, 255, 255, 0.9);
  width: 250px;
  padding: 20px 10px 10px;
}

.key {
  width: 55px;
  display: inline-block;
}

.setting-with-button {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
