/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.map-control-button {
  height: 48px;
  width: 48px;
  font-size: medium;
}

.ant-modal-content, .ant-modal-header {
  border-radius: 20px;
}
